// make all images responsive by default
img {
	@extend .img-responsive;
	margin: 0 auto;
}

// override for the 'Home' navigation link
.navbar-brand {
	font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
	@extend .col-md-6;
	@extend .text-center;
}

.form {
	@extend .col-md-6;
}

.form-centered {
	@extend .col-md-6;
	@extend .text-center;
}

.submit {
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
	@extend .container;
	padding: $header-height 0 80px;
	border-top: 1px solid #ddd;
	margin: 0;
	overflow-x: hidden;
	width: 100%;
}

#main-wrapper{
	margin: 0;
	padding: 0;
	transition: padding 0.3s ease-in-out 0s;
	position: relative;
	left: 0;
	top: 0;
}

#main-content{
	@extend .container-fluid;
	margin: 0;
}

section {
	@extend .row;
}


