#app-header {
	position: fixed;
	width: 100%;
	z-index: 10;
	height: $header-height;
	background-color: #28a9e0;
	.name {
		float: left;
		font-size: 1.8em;
		padding: 8px 4px;
	}
}

#user-info{
	font-size: 17px;
    float: right;
    margin-top: 8px;
    margin-right: 11px;
}