body {
	background-image: url('/assets/pattern.jpg');
	position: absolute;
	width: 100%;
	height: 100%;
}

main {
	width: 100%;
	height: 100%;
	/*min-height: 500px;*/
	//text-shadow: 1px 1px #888888;
	.contentmain {
		.loginmain {
			background: white;
			padding-top: 2%;
			float: right;
			width: 35%;
			height: 450px;
			.login-button {
				background-color: #28a9e0;
				width: 100%;
				font-family: Lucida Console;
				border-radius: 0px;
				font-weight: bolder;
			}
			.forgot-password {
				margin-left: 15%;
				margin-top: 10px;
			}
			form {
				padding-top: 5%;
				width: 70%;
				margin: auto;
				.email, .password {
					height: 30px;
					border-radius: 0px;
					width: 100%;
					margin-bottom: 0px;
					-webkit-box-shadow: inset 0 0 2px #888888;
				}
				button {
				}
			}
		}
	}
}