<div class="manage-section">
 <% if @users.present? %>
 <h1>All Users</h1>
 <table class="table table-bordered">
  <thead>
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>Email_Id</th>
      <th>Status</th>
      <th colspan = "3">Actions</th>
    </tr>
  </thead>
  <% @users.each do |u| %>
  <tbody>
    <tr>
      <td><%= u.uid%></td>

      <td><%= u.fullname %></td>

      <td><%= u.email %></td>
      <td><%= u.status%></td>
      <td><%= link_to "SHOW" , user_path(u),:class=>"btn btn-primary" %></td>
      <td><%= link_to "EDIT" , edit_user_path(u),:class=>"btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
